<% @title = "Home" %>

<h1>Introduction</h1>
<b>MouseTracker</b> is a Javascript script to create mouse tracker. For example, it can create a div or an image that will follow your exact mouse moves. It <b>requires MooTools >= 1.2</b>.
<br/>
<br/>
This lib has beed inspired by <a href="http://www.nwhite.net/2008/10/06/mouse-ghost/">Nathan White</a>.

<h1>Features</h1>

<b>MouseTracker</b>'s features are:
<ul class='features'>
  <li>Tracks mouse exact moves</li>
  <li>Creates multiple instances</li>
  <li>Uses customizable div or an image</li>
  <li>Works on Safari, Firefox, IE 6/7, Chrome and Opera</li>
  <li>Documentation generated with PDoc</li>
  <li>Open source, full code is available on BitBucket</li>
</ul>

Check out examples and documentation for API details.

<h1>Download</h1>
<ul class='features'>
  <li>Full code is available from <a href="http://www.bitbucket.org/Bounga/mousetracker">BitBucket</a></li>
  <li>Full code is available from a <a href="http://www.bitbucket.org/Bounga/mousetracker/get/tip.zip">zip file</a></li>

  <li>When the sources are retrieved you can build a compressed version of the lib using : <code>$ rake build</code>. It'll build a YUI compressed version of the lib in 'dist' directory</li>
</ul>